/*
padding: ↑  →  ↓  ←     
padding: ↑  ⇄  ↓
padding: ⇅  ⇄
padding: ⥁
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Comfortaa", cursive;
  display: flex;
  overflow-x: hidden; /* blocca  lo scroll orizzontale */
  background-color: #1a1d1a;
  color: #ebebeb;
  margin: 0px;
  height: 100%;
  animation-name: FromDusk;
  animation-duration: 25s;
  animation-iteration-count: infinite;
}

/* the keyframe animation */
@keyframes FromDusk {
  0% {
    background-color: #1a1d1a;
    left: 0px;
    top: -100px;
  }
  50% {
    background-color: #154853;
    left: 0px;
    top: 600px;
  }
  100% {
    background-color: #1a1d1a;
    left: 0px;
    top: -100px;
  }
}

.backgroundButton {
  width: 1px; /*1500px;*/
  height: 1px;
}

.switchDarkLight {
  margin-right: 1px;
  margin-left: auto;
}

/* animazione link */
a:link {
  /* unvisited link */
  color: #ebebeb;
  text-decoration: none;
}
a:visited {
  /* visited link */
  color: #ebebeb;
  text-decoration: none;
}
a:hover {
  /* mouse over link */
  text-decoration: underline;
}

/* container generale */
.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 6%;
}
/*VISUALIZZAZIONE DA MOBILE*/ /*quando è minore di ***px*/
@media (max-width: 700px) {
  .container {
    flex-wrap: wrap;
  }
}

/* row my name */
.myName {
  color: #ff8811;
  font-size: 18px;
}

/* | lampeggiante */
.blinkText {
  animation: blinker 1s linear infinite;
  color: #ff8811;
} /* blink */
@keyframes blinker {
  50% {
    opacity: 0;
  }
} /* blink */

/* il mio lavoro  */
.myTask {
  color: #ff8811;
}

.githubProfile:link {
  /* unvisited link */
  color: #ebebeb;
  text-decoration: none;
}
.githubProfile:visited {
  /* visited link */
  color: #ebebeb;
  text-decoration: none;
}
.githubProfile:hover {
  /* mouse over link */
  color: #575c61;
  text-decoration: underline;
}

.numPhoneTelegram:link {
  /* unvisited link */
  color: #ebebeb;
  text-decoration: none;
}
.numPhoneTelegram:visited {
  /* visited link */
  color: #ebebeb;
  text-decoration: none;
}
.numPhoneTelegram:hover {
  /* mouse over link */
  color: rgb(0, 136, 204);
  text-decoration: underline;
}

.emailLink:link {
  /* unvisited link */
  color: #ebebeb;
  text-decoration: none;
}
.emailLink:visited {
  /* visited link */
  color: #ebebeb;
  text-decoration: none;
}
.emailLink:hover {
  /* mouse over link */
  color: #c71610;
  text-decoration: underline;
}

/* info box a sinistra */
.infoBox {
  display: flex;
  min-width: 320px;
  height: 100%;
  flex-direction: column;
  text-align: center;
  box-shadow: -10px -10px 1px rgba(255, 136, 17, 0.3);
  /* shadow     🡆    🡇   ☁ */
  background-color: #03120e;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .infoBox a {
    font-size: 18px;
    line-height: 1.8;
  }
}
/* spaziatura */
/* foto profilo */
.picProfile {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  vertical-align: middle;
}

/* proprietà per immagine fuori infoBox */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: -50px;
}
/*VISUALIZZAZIONE DA MOBILE*/ /*quando è minore di ***px*/
@media (max-width: 1169px) {
  img {
    position: unset;
    margin-top: unset;
  }
}

/* write to me link */
.writeToMe {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 16px;
  color: #ebebeb;
  text-decoration: none;
}
.writeToMe:link {
  /* unvisited link */
  text-decoration: none;
}
.writeToMe:visited {
  /* visited link */
  text-decoration: none;
}
.writeToMe:hover {
  /* mouse over link */
  text-decoration: underline;
}

/* Tweet to me link */
.TweetToMe {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 16px;
  text-decoration: none;
}
.TweetToMe:link {
  /* unvisited link */
  color: #ebebeb;
  text-decoration: none;
}
.TweetToMe:visited {
  /* visited link */
  color: #ebebeb;
  text-decoration: none;
}
.TweetToMe:hover {
  /* mouse over link */
  color: #00acee;
  text-decoration: underline;
}

.linkedin:link {
  /* unvisited link */
  color: #ebebeb;
  text-decoration: none;
}
.linkedin:visited {
  /* visited link */
  color: #ebebeb;
  text-decoration: none;
}
.linkedin:hover {
  /* mouse over link */
  color: #0a66c2;
  text-decoration: underline;
}

.mastodon:link {
  /* unvisited link */
  color: #ebebeb;
  text-decoration: none;
}
.mastodon:visited {
  /* visited link */
  color: #ebebeb;
  text-decoration: none;
}
.mastodon:hover {
  /* mouse over link */
  color: #563acc;
  text-decoration: underline;
}

/* contenitore area portfolio */
.portfolioBox {
  width: auto;
  max-width: 1000px;
  height: 635px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 3% none;
  overflow-y: scroll;
  /* Animation scroll bar for Firefox */
  scrollbar-color: #ff8811 #03120e;
  scrollbar-width: thin;
  /* End Animation scroll bar for Firefox */
}
@media (max-width: 700px) {
  .portfolioBox {
    max-height: unset;
    overflow-y: unset;
  }
}
@media (max-width: 430px) {
  .portfolioBox {
    width: unset;
    height: 100%;
  }
}
/* width */
#style-4::-webkit-scrollbar {
  width: 2px;
}
/* Track */
#style-4::-webkit-scrollbar-track {
  background: #03120e;
}
/* Handle */
#style-4::-webkit-scrollbar-thumb {
  background: #ff8811;
  border-radius: 10px;
}

/* schede nel portfolio */
.portfolioBox a {
  cursor: pointer;
  width: 240px;
  height: 320px;
  border-radius: 10px;
  text-shadow: 1px 1px 5px #03120ea8;
  font-size: 15px;
  border: none;
  padding-top: -20px;
  margin: 10px;
  text-align: center;
  padding: 15px;
}
/*VISUALIZZAZIONE DA MOBILE*/ /*quando è minore di ***px*/
@media (max-width: 700px) {
  .portfolioBox a {
    width: 320px;
    transform: none;
    box-shadow: none;
    transition: none;
  }
}

/* schede nel portfolio: passaggio mouse */
.portfolioBox a:hover {
  box-shadow: -3px -3px 5px rgb(255, 136, 17);
  transition: 1.4s;
}
/* transition-duration: 0.7s;
    transition-property: color, box-shadow;*/

/* background schede rgb(62, 80, 91);*/
.squareSkills {
  background-color: #03120e;
}
.squarePath {
  background-color: #03120e;
}
.squarePortfolio {
  background-color: #03120e;
}
.squareMe {
  background-image: url("img/preview\ \(4\).jpg");
}

/* tutte le carte portfolio */
.square {
  transition: transform 0.4s; /* Animation */
}
.square:link {
  /* unvisited link */
  text-decoration: none;
}
.square:visited {
  /* visited link */
  text-decoration: none;
}
.square:hover {
  /* mouse over link */
  text-decoration: none;
}

/* banner Portfolio */
.banner {
  background-color: rgb(255, 136, 17);
  color: #03120e;
  margin-top: -6px;
}

/* animazione per le prime 2 schede extra portfolio */
.skillsList {
  list-style-type: ">";
  padding-left: 7px;
  margin: 1px;
}

.skillsList li {
  margin: 10px 0;
}

.code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid rgb(255, 136, 17);
  color: #666;
  font-family: monospace;
  margin: 7px -8px;
  font-size: 15px;
  max-width: 100%;
  overflow: auto;
  padding: 1px 2px;
  word-wrap: break-word;
}

/* evento verso altro oggetto e proprietà transition
.iconFilter:hover + .textFilter {
    color: #FF8811;
     transition-duration: 0.7s;
    transition-property: color, box-shadow; } */

/*VISUALIZZAZIONE DA LAPTOP*/
@media (max-width: 1200px) {
  /*quando è minore di 1200px*/
}
/*VISUALIZZAZIONE DA TABLET*/
@media (max-width: 980px) {
  /*quando è minore di 980px*/
}
/*VISUALIZZAZIONE DA MOBILE ORIZZONTALE*/
@media (max-width: 767px) {
  /*quando è minore di 767px*/
}
/*VISUALIZZAZIONE DA MOBILE VERTICALE*/
@media (max-width: 480px) {
  /*quando è minore di 480px*/
}

.neonText {
  animation: flicker 1.5s infinite alternate;
  color: rgb(255, 136, 17);
}

h2 {
  animation: flicker2 1s infinite alternate;
  font-size: 5.2rem;
  color: rgb(255, 136, 17);
}

h1 {
  font-size: 4.2rem;
}

/* Flickering animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 40px rgb(255, 136, 17), 0 0 80px rgb(255, 136, 17),
      0 0 90px rgb(255, 136, 17), 0 0 100px rgb(255, 136, 17),
      0 0 150px rgb(255, 136, 17);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
/* Flickering animation */
@keyframes flicker2 {
  0%,
  18%,
  22%,
  25%,
  53%,
  80% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 40px rgb(255, 136, 17), 0 0 80px rgb(255, 136, 17),
      0 0 90px rgb(255, 136, 17), 0 0 100px rgb(255, 136, 17),
      0 0 150px rgb(255, 136, 17);
  }
  20%,
  24%,
  55%,
  83%,
  100% {
    color: rgb(139, 76, 13);
    text-shadow: none;
  }
}
