/*
padding: ↑  →  ↓  ←     
padding: ↑  ⇄  ↓
padding: ⇅  ⇄
padding: ⥁
*/

*, *::before, *::after {
    font-family: 'Comfortaa', cursive;
    color: #EBEBEB;
    box-sizing: border-box;
}

body {
    display:flex;
    overflow-x: hidden; /* blocca  lo scroll orizzontale */ 
    background-color: #1A1D1A;
    margin:0px;
    height: 100%;
}

.backgroundButton {
    width: 1px;/*1500px;*/
    height: 1px;
}

.switchDarkLight{
    margin-right: 1px;
    margin-left: auto;
}

/* animazione link */
a:link { /* unvisited link */ color: #EBEBEB; text-decoration: none;}
a:visited { /* visited link */ color: #EBEBEB; text-decoration: none;}
a:hover { /* mouse over link */ text-decoration: underline; }

/* container generale */
.container {

    display:flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 6%;
}
/*VISUALIZZAZIONE DA MOBILE*/  /*quando è minore di ***px*/ 
@media (max-width: 700px) { .container { flex-wrap: wrap;} }

/* row my name */
.myName {
    color: #FF8811;
    font-size: 18px;
}

/* | lampeggiante */
.blinkText { animation: blinker 1s linear infinite; color: #FF8811; } /* blink */
@keyframes blinker { 50% { opacity: 0; } } /* blink */

/* il mio lavoro  */
.myTask {
    color: #FF8811;
}

.numPhoneWhatsApp:link { /* unvisited link */ color: #EBEBEB; text-decoration: none;}
.numPhoneWhatsApp:visited { /* visited link */ color: #EBEBEB; text-decoration: none;}
.numPhoneWhatsApp:hover { /* mouse over link */ color:rgb(76,211,96); text-decoration: underline; }


    /* info box a sinistra */ 
.infoBox {
    display: flex;
    min-width: 320px;
    height: 100%;
    flex-direction:column;
    text-align: center;
    box-shadow: -10px -10px 1px rgba(255, 136, 17, 0.3);
     /* shadow     🡆    🡇   ☁ */
    background-color: #03120E;
    border-radius: 10px;
}
@media (max-width: 600px) {.infoBox a { font-size: 18px; line-height: 1.8; } }
                                                        /* spaziatura */
    /* foto profilo */
.picProfile {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    vertical-align: middle;
}

/* proprietà per immagine fuori infoBox */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: -50px;
}
/*VISUALIZZAZIONE DA MOBILE*/  /*quando è minore di ***px*/ 
@media (max-width: 1169px) {img { position: unset; margin-top: unset; } }

    /* write to me link */
.writeToMe{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 16px;
}
.writeToMe:link { /* unvisited link */ color: #EBEBEB; text-decoration: none;}
.writeToMe:visited { /* visited link */ color: #EBEBEB; text-decoration: none;}
.writeToMe:hover { /* mouse over link */ text-decoration: underline; }

    /* Tweet to me link */
.TweetToMe{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 16px;
}
.TweetToMe:link { /* unvisited link */ color: #EBEBEB; text-decoration: none;}
.TweetToMe:visited { /* visited link */ color: #EBEBEB; text-decoration: none;}
.TweetToMe:hover { /* mouse over link */ color: #00acee; text-decoration: underline; }

    /* contenitore area portfolio */
.portfolioBox{
    width: auto;
    max-width: 1000px;
    height: 635px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    align-items: center;
    padding: 20px 3% none;
    overflow-y:scroll;
    /* Animation scroll bar for Firefox */
    scrollbar-color: #FF8811 #03120E;
    scrollbar-width: thin;
    /* End Animation scroll bar for Firefox */
}
@media (max-width: 700px) {.portfolioBox { max-height: unset; overflow-y: unset; } }
@media (max-width: 430px) {.portfolioBox { width: unset; height: 100%; } }
    /* width */ #style-4::-webkit-scrollbar { width: 2px; }
    /* Track */ #style-4::-webkit-scrollbar-track { background: #03120E; }
    /* Handle */ #style-4::-webkit-scrollbar-thumb { background: #FF8811; border-radius: 10px; }


/* schede nel portfolio */
.portfolioBox a {
    cursor: pointer;
    width: 240px;
    height: 320px;
    border-radius: 10px;
    text-shadow: 1px 1px 5px #03120ea8;
    font-size: 15px;
    border: none;
    padding-top: -20px;
    margin: 10px;
    text-align: center;
    padding: 15px;
}
/*VISUALIZZAZIONE DA MOBILE*/  /*quando è minore di ***px*/ 
@media (max-width: 700px) {   .portfolioBox button { width: 85%; transform: none; box-shadow: none; transition: none;} }

/* schede nel portfolio: passaggio mouse */
.portfolioBox a:hover {
    box-shadow: -3px -3px 5px rgb(255, 136, 17);
    transition: 1.4s;
}
/* transition-duration: 0.7s;
    transition-property: color, box-shadow;*/

/* background schede rgb(62, 80, 91);*/
.squareSkills { background-color:#03120E;}
.squarePath { background-color:#03120E; }
.squarePortfolio { background-color:#03120E; }
.squareMe { background-image: url("preview/preview (4).jpg"); }

/* tutte le carte portfolio */
.square{
    transition: transform 0.4s; /* Animation */
    
}
.square:link { /* unvisited link */ text-decoration: none;}
.square:visited { /* visited link */ text-decoration: none;}
.square:hover { /* mouse over link */ text-decoration: none; }

/* banner Portfolio */
.banner { 
    background-color: rgb(255, 136, 17);
}

/* animazione per le prime 2 schede extra portfolio */
.skillsList {
    list-style-type: ">";
    padding-left: 7px;
    margin: 1px;
}

.skillsList li {
    margin: 10px 0;
}

/* evento verso altro oggetto e proprietà transition
.iconFilter:hover + .textFilter {
    color: #FF8811;
     transition-duration: 0.7s;
    transition-property: color, box-shadow; } */

/*VISUALIZZAZIONE DA LAPTOP*/
@media (max-width: 1200px) { /*quando è minore di 1200px*/ }
/*VISUALIZZAZIONE DA TABLET*/
@media (max-width: 980px) { /*quando è minore di 980px*/ }
/*VISUALIZZAZIONE DA MOBILE ORIZZONTALE*/
@media (max-width: 767px) { /*quando è minore di 767px*/ }
/*VISUALIZZAZIONE DA MOBILE VERTICALE*/
@media (max-width: 480px) { /*quando è minore di 480px*/ }