body {
  font-family: "Saira Semi Condensed", sans-serif;
  background-color: #34425b;
  color: whitesmoke;
  margin: 0;
  height: 100vh;
  overflow: hidden; /* Evita scrolling a causa delle macchioline */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picProfile {
  width: 125px;
  height: 125px;
  border-radius: 3px 7px 37% 11px;
  border: 1px solid whitesmoke;
  vertical-align: middle;
  margin: 3%;
}

h5 {
  font-size: 1em;
  margin: 0;
}

h4 {
  font-size: 1.5em;
  margin: 1% 5%;
}

li{
  list-style-type: "-";
  padding: 2px;
}

a{ text-decoration-line: underline; color: whitesmoke; }
a:visited { color: whitesmoke; }
a:hover { color: rgb(209, 175, 115); }

.text-focus{ color: rgb(209, 175, 115) }

.code-focus{
  border: 1px solid rgba(245, 245, 245, 0.234);
  padding: 0px 4px;
  border-radius: 3px;
}

.spot {
  position: absolute;
  border-radius: 50%;
  animation: moveUp linear infinite;
}

/*VISUALIZZAZIONE DA MOBILE*/ /*quando è minore di 1169px*/
@media (max-width: 1169px) {
  .spot {
    display: none;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20vh); /* macchioline piu veloci a inizio pagina*/
  }
  100% {
    transform: translateY(-100vh);
  }
}

.card-container {
  position: relative;
  z-index: 1; /* Assicura che le card siano sopra le macchioline */
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 80vh; /* Limita l'altezza per abilitare lo scroll */
  overflow-y: scroll; /* Abilita lo scroll verticale */
  padding: 20px;
  background: rgba(255, 255, 255, 0); /* card semi-trasparenti */
  border-radius: 10px;
}

.card {
  background: rgba(255, 255, 255, 0); /* Sfondo semi-trasparente */
  padding: 20px;
  text-align: left;
  max-width: 500px;
}

.card h3 {
  margin-top: 0;
}

.card p {
  color: #333;
  margin: 10px 0;
}

/* SOCIAL ICON BTNS */
.social { text-decoration: none;}
.twitter:hover { color: #00acee; }
.linkedin:hover { color: #0a66c2; }
.mastodon:hover { color: #563acc; }
.github:hover { color: #575c61; }
.telegram:hover { color: rgb(0, 136, 204); }
.gmail:hover { color: #c71610; }


/* Flickering animation */
.flickering {
  animation: flicker 3s infinite alternate;
  color: rgb(255, 136, 17);
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 40px rgb(255, 136, 17), 0 0 80px rgb(255, 136, 17),
      0 0 90px rgb(255, 136, 17), 0 0 100px rgb(255, 136, 17),
      0 0 150px rgb(255, 136, 17);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}



/* Censured text */
.text-decript span::before {
  content: '';
  animation-name: decript-txt;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  animation-timing-function: ease-in;
  color: #e8f6ff;
}
  
@keyframes decript-txt {
    0% {content: 'ᚠ ᛒ ᛝ ᛠ ᛚ ᚨ ᛗ ᛉ ᚹ ᛋ ᛏ ᛇ ᚷ ᚦ ᛃ ᛏ ᛠ ᛆ ᚳ ᚩ';}
    2% {content: 'ᛏ ᛃ ᚥ ᛉ ᛋ ᛁ ᚨ ᚱ ᚹ ᚲ ᛇ ᚦ ᚠ ᛂ ᛒ ᚺ ᛟ ᚷ ᛉ ᚦ';}
    4% {content: 'ᚢ ᛒ ᚻ ᛇ ᚦ ᚡ ᚭ ᛃ ᛏ ᛝ ᛖ ᛂ ᚬ ᚴ ᚾ ᚹ ᛝ ᛏ ᚢ ᚣ';}
    6% {content: 'ᛚ ᛋ ᛁ ᛡ ᛠ ᛦ ᚣ ᚲ ᚷ ᚳ ᛆ ᛃ ᛠ ᚢ ᚨ ᚩ ᛟ ᚾ ᛉ ᚦ';}
    8% {content: 'ᛁ ᛂ ᛇ ᛘ ᛋ ᛣ ᛚ ᚩ ᚳ ᛡ ᚦ ᚲ ᛞ ᛟ ᚷ ᛁ ᛋ ᛠ ᛂ ᛁ';}
   10% {content: 'ᛝ ᛏ ᛡ ᛋ ᛃ ᛇ ᚦ ᚲ ᛇ ᚨ ᛏ ᛝ ᛡ ᚠ ᚣ ᚩ ᛟ ᛠ ᚦ ᚹ';}
   12% {content: 'ᚣ ᛃ ᚬ ᛋ ᛠ ᛡ ᚣ ᛁ ᚾ ᚢ ᛁ ᛒ ᛟ ᚺ ᛗ ᛋ ᛇ ᛁ ᛚ ᚳ';}
   14% {content: 'ᛏ ᛝ ᚷ ᛞ ᛚ ᛋ ᛝ ᚥ ᛇ ᚷ ᛠ ᚾ ᚩ ᛉ ᛗ ᚷ ᛋ ᛝ ᛠ ᛂ';}
   16% {content: 'ᛋ ᚣ ᛇ ᚳ ᚾ ᛁ ᚠ ᛡ ᚻ ᛞ ᚩ ᛇ ᛚ ᚲ ᚷ ᚺ ᛉ ᚢ ᚴ ᚣ';}
   18% {content: 'ᚢ ᚠ ᚣ ᛉ ᚻ ᛂ ᚷ ᛠ ᛗ ᚹ ᛝ ᚱ ᛋ ᛁ ᛏ ᛇ ᛂ ᛁ ᛚ ᚳ';}
   20% {content: 'ᛞ ᛉ ᛠ ᛋ ᛗ ᚳ ᛁ ᛠ ᛡ ᛒ ᛉ ᚳ ᚠ ᛡ ᛇ ᛠ ᛉ ᛋ ᛏ ᛠ';}
   22% {content: 'ᚥ ᛠ ᛞ ᛏ ᛉ ᛠ ᚦ ᛡ ᚳ ᛠ ᛏ ᚢ ᛇ ᚦ ᛠ ᚢ ᛋ ᚩ ᛠ ᚳ';}
   24% {content: 'ᛉ ᛠ ᛉ ᛏ ᛝ ᚨ ᚾ ᚠ ᚣ ᚠ ᚳ ᚥ ᚳ ᛠ ᚨ ᛏ ᚦ ᛋ ᚨ ᛠ';}
   26% {content: 'ᚣ  ᚳ ᛡ ᚹ ᚦ ᛠ ᚢ ᚣ ᚳ ᛉ ᚦ ᛋ ᚠ ᚢ ᛠ ᛞ ᚣ ᚳ ᛋ ᚠ';}
   28% {content: 'ᛉ ᛡ ᛋ ᚣ ᛠ ᚢ ᚳ ᚠ ᚦ ᚠ ᛠ ᚳ ᛠ ᚣ ᛋ ᚢ ᛡ ᚳ ᛉ ᚠ';}
   30% {content: 'ᛡ ᛋ ᛇ ᚳ ᛠ ᛝ ᛏ ᚠ ᚹ ᚢ ᚦ ᚠ ᛡ ᚢ ᚳ ᛋ ᚠ ᛇ ᛠ ᚳ';}
   32% {content: 'ᛇ ᛡ ᚦ ᛡ ᚣ ᛠ ᚳ ᛝ ᛇ ᛏ ᚣ ᛡ ᚦ ᛠ ᚳ ᛋ ᚠ ᛡ ᛋ ᚳ';}
   34% {content: 'ᚣ ᛠ ᚳ ᛡ ᚢ ᛉ ᚢ ᚣ ᚳ ᛡ ᚦ ᛠ ᚢ ᚣ ᚳ ᛡ ᛠ ᚢ ᚣ ᚳ';}
   36% {content: 'ᛋ ᚠ ᛡ ᚦ ᛠ ᚣ ᚦ ᛠ ᚳ ᛡ ᚢ ᚳ ᛋ ᚠ ᛡ ᛋ ᚣ ᛠ ᚳ ᛡ';}
   38% {content: 'ᛠ ᚳ ᛡ ᚢ ᚣ ᚳ ᛋ ᚠ ᛡ ᚣ ᛠ ᚳ ᛋ ᛠ ᚢ ᚣ ᛡ ᛠ ᚳ ᚣ';}
   40% {content: 'ᚢ ᚳ ᛡ ᚦ ᛠ ᚣ ᚢ ᚳ ᛡ ᛠ ᚢ ᛡ ᚦ ᛠ ᚳ ᚣ ᚢ ᛡ ᛠ ᚳ';}
   42% {content: 'ಠ_ಠ ᚳ ᛡ ᚢ ᛉ ᚢ ᚣ ᚳ ᛡ ᚦ ᛠ ᚢ ᚣ ᚳ ᛡ ᛠ ᚢ ᚣ ᚳ';}
   44% {content: ' ᚳ ᚢ ᛡ ᚦ ᛠ ᚳ ᚣ ᚢ ᛡ ᛠ ᚳ ᚢ ᚳ ᛡ ᚦ ᛠ ᚣ ᚢ ᚳ ᛡ';}
   46% {content: 'ᛡ  ᚳ ᚢ ᛡ ᚦ ᛠ ᚳ ᚣ ᚢ ᛡ ᛠ ᚳ ᚢ ᚳ ᛡ ᚦ ᛠ ᚣ ᚢ ᚳ';}
   48% {content: 'ᚳ ᛡ  ᚳ ᚢ ᛡ ᚦ ᛋ ᚳ ᚣ ᚢ ᛡ ᛋ ᚳ ᚢ ᚳ ᛡ ᚦ ᛋ ᚣ ᚢ';}
   50% {content: 'ᚢ ᚳ ᛡ  ᚳ ᚢ ᛡ ᚦ ᛋ ᚳ ᚣ ᚢ ᛡ ᛋ ᚳ ᚢ ᚳ ᛡ ᚦ ᛋ ᚣ';}
   58% {content: 'ᚳ ᚣ ᚢ ᚳ ᛡ  ᚳ ᚢ ᛡ ᚦ ᚣ ᚢ ᛡ ᚹ ᚳ ᚳ ᚢ ᚳ ᛡ ᚦ ᛋ';}
   66% {content: 'ᚣ ᚢ ᚳ ᛡ ᛋ ᚢ ᛋ ᚦ ᛠ ᚳ ᚣ ᚢ ᛡ ᛡ ᚳ ᚢ ᚳ ᛡ ᚦ ᛠ';}
   72% {content: 'ᚣ ᚢ ᚦ ᛠ ᚳ ᚣ ᚢ ᚳ ᛡ  ᚳ ᚢ ᛠ ᛡ ᛡ ᚳ ᚢ ᚳ ᛡ ᚦ ᛠ';}
   100% {content: 'ᚣ ᛠ ᚳ ᛡ ᛠ ᚢ ᛠ ᚦ ᛠ ᚳ ᚣ ᚢ ᛡ ᛡ ᚳ ᚢ ᚳ ᛡ ᚦ ᛠ';}
}
/* @keyframes decript-txt {
  0% {content: 'йопвъгыдлмрщозкомзачуфъ';}
  2% {content: 'ыящмзчбцсющпшшшдыцгмрщл';}
  4% {content: 'хцзщшьядчщщсрсаитсурнкг';}
  6% {content: 'пежюпшлйфбщврцьхзоеьлоч';}
  8% {content: 'тхсахлоднркйвпдшафсрщжх';}
  10% {content: 'эвъфгъхгфигёж срнббяэйт';}
  12% {content: 'яшцгкьуношэок чдштлхёпб';}
  14% {content: 'ыншычюмкёчтхгб дцрефгкв';}
  16% {content: 'чрвъодхжвтззамь йдэтелё';}
  18% {content: 'пптччзохсрдзляй птоуаьр';}
  20% {content: 'пропбъашощхвйсм пщукщея';}
  22% {content: 'прокрпняфвйэящхз дылпъз';}
  24% {content: 'профэлпвециущхдаъв уэвя';}
  26% {content: 'профещёкплчзпзипп кщреш';}
  28% {content: 'професуыжвшёфъжх хйисэр';}
  30% {content: 'професслрщбдыиуу цюхигъ';}
  32% {content: 'профессимвэнцбмл аккмхщ';}
  34% {content: 'профессиодобищяг йижзкъ';}
  36% {content: 'профессисдкощьр этюёохг';}
  38% {content: 'профессиьцескц йцжцфоыю';}
  40% {content: 'профессиочфмця ймртоэцн';}
  42% {content: 'профессидцйдд вакказвот';}
  44% {content: 'профессинйвгв ъдшлпгльд';}
  46% {content: 'профессиныщзю убрьудмбж';}
  48% {content: 'профессиныеъ щлйкбныяяе';}
  50% {content: 'профессиные еклчгтеизьэ';}
  52% {content: 'профессиные бркйщчзатдс';}
  54% {content: 'профессиные эивгнтсгрщэ';}
  56% {content: 'профессиные ммшзфиаштыи';}
  58% {content: 'профессиные ммяавбхчвсе';}
  60% {content: 'профессиные ммуникаююеж';}
  100% {content: 'профессиные ммуникаююеж';}
} */
