/*  */

* {
    box-sizing: border-box; /* pare che sto tizio lo mette sempre, fidiamoci */  
  }

body {
    padding:0;
    margin:0;
}

.container { /* CCS per ogni <dir> di classe .container */
    display:flex; /* abilitazione del flexbox per il <dir> padre */
    width: 400px;
    /* padding-left:6%; /* spazio sx tra bordo e contenuto */
    /* padding-right: 6%; /* spazio dx tra bordo e contenuto */
    flex-direction:column; /* gli elementi al suo interno sono in colonna */
    margin-left: auto;  /* spazio sx tra margine esterno e bordo della pagina */
    margin-right: auto;  /* spazio dx tra margine esterno e bordo della pagina */
    align-items: stretch;
    justify-content: center;
    border: 1px rgb(0,0,0) solid;
    padding-left: 0; /* Margine interno tra contenuto e bordo */
    padding-right: 0; /* Margine interno tra contenuto e bordo */
    padding-top: 20px; /* Margine interno tra contenuto e bordo */
}

.rowButton {
    display:flex; /* creo un flexbox per usare justify-content */
    justify-content: space-between; /* imposto la spaziatura pari da sx a dx */
    margin-bottom: .5%; /* do un po di bordo al lato sotto */
}

.firstRow{
    display: flex;
    flex-direction: row;
}

.display {
    font-size:40px;
    background-color: #1C1C1C;
    color: white; 
    width: 90%;
    padding: 20px 5px;

}

.operationInfo{
    font-size:70px;
    background-color: #1C1C1C;
    color: rgb(194, 191, 191); 
    width: 10%;
    pointer-events: none;
    text-align: center;
    vertical-align: text-bottom;
}

.button{
    transition-duration: 1.1s;
    transition-property: background-color;
    font-size:40px;
    cursor: pointer; /* ti modifica il puntatore */
    border: none;
    margin-top: 1px;
}

.functionButton { 
    height: 100px;
    width: 24.5%;
    background: #FF9500;
    color: white;
}

.numbersButton { 
    height: 100px;
    width: 24.5%;
    background: #1C1C1C; 
    color: white;
}

.errorButton { 
    height: 100px;
    width: 24.5%;
    background: #D4D4D2; 
    color: black;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.doppio {
    width: 49.7%;
    border: 1px white solid ;
}

.triplo {
     width: 74.8%;
}

/* animazione del passaggio del mouse */
  .functionButton:hover { background-color: #fdb551; }
  .numbersButton:hover { background-color: #757575;  }
  .errorButton:hover { background-color: #ffffff;  }

/* animazione della pressione del pulsante */
  .functionButton:active { background-color: #a57533; }
  .numbersButton:active { background-color: #745555;  }
  .errorButton:active { background-color: #bdacac;  }

/*  align-items: stretch;
    justify-content: center;

/*  margin-right: 20px; /* Margine esterno con un altro elemento */
/*  margin-bottom: 20px; /* Margine esterno con un altro elemento */
/*  padding-left: 20px;  /* Margine interno tra contenuto e bordo */
/*  padding-right: 20px; /* Margine interno tra contenuto e bordo */
/*  border-radius: 20px; */