* {
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

.wrapper{ /* contenitor di tutto */
    display: flex;
    flex-flow: row nowrap;
}

.leftMenu {
    flex: 0 0 30%;
    margin-top: 10px;
    margin-right: 20px;
    height: 100vh;
    display: flex;
    justify-content: end;
}

.rightColumn{
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
    align-items:flex-start;
}

.MenuButton {
    border: none;
    width: auto;
    height: 50px;;
    margin-right: auto;
    margin-left: 0px;
    margin-bottom: 20px;
    padding: 7px;
    display: flex;
    align-items: center;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
}
.MenuButton:hover {
    background-color: rgba(196, 194, 192, 0.76);
    border-radius: 35px;
}


.TweetButton {
    font-size: 20px;
    border-radius: 35px;
    justify-content: center;
    width: 230px;
    color: white;
    background-color: rgb(29, 155, 240);
}
.TweetButton:hover {
    background-color: rgba(57, 163, 170, 0.932);
    border-radius: 35px;
}

.centerPosts{ flex: 0 0 30%; border: 1px rgba(187, 184, 184, 0.363) solid; }

.homeHead{
    height: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 16px;
    padding: 20px;
    margin-bottom: 20px;
}
.stars{ border: none; }

.board {
    border: 1px rgba(187, 184, 184, 0.363) solid;
    display: flex;
    flex-flow: column nowrap;
}

.post{
   margin-top: 5px; 
}

.corgiProfile{
    border-radius: 50px;
}

.post:hover {
    background-color: rgba(218, 216, 216, 0.932);
}

.postCmp {
    background-color: rgba(223, 7, 7, 0);
}

.hashtag {
    background-color: rgba(129, 10, 10, 0);
    color: rgb(0, 14, 204);
}

.hashtag {
    cursor: pointer;
}

.rightBar {
    border: 1px rgb(48, 0, 223) solid;
    display: flex;
    flex: 0 0 40%;
}


/*  flex-flow: flex-direction flex-wrap;
        -direction -wrap 
    flex: flex-grow flex-shrink flex-basis 
    	-grow, -shrink: la velocità con cui cambiano larghezza 
        -basis: gestione del width property AL POSTO DI WIDTH SEMPRE 
*/
