
* {
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: #26547C;
    
}

.logoProfile {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #132A3E
}


.container {
    display:flex;
    width: 1000px;
    height: 700px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #EBEBEB;
}

.nameMe {
    color: #FF8811;
}

    /* Main Page */
.mainPage{
    border: 1px black solid;
    background-color: #132A3E;
    display:flex;
    width: 25%;
    flex-direction:column;
    border-radius: 10px;
    text-align: center;
}

    /* Elementi di Main Page*/
.picProfile {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    vertical-align: middle;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: -50px;
}

.nameMe {
    color: #FF8811;
    padding-top: 30px;
}


    /* Info Page */
.infoPage{
    border: 1px black solid;
    display:flex;
    width: 65%;
    background-color: #132A3E;
    border-radius: 10px;
    
}



 /*

.test1 {
    display:flex;
   background: rgb(86, 75, 88); /*colore del backgound
    color: rgb(219, 226, 255); /* colore del font 
    margin-top: 20px; /* margine superiore
    margin-right: 10%; /* Margine dx esterno con elemento 
    width: 80%;
    margin-left: 10%; /* Margine sx esterno con  elemento 
    /* flex-direction: row; impostata come default 
    flex-wrap: wrap; /* abilita gestione di "a capo"  laterale 
    align-content: flex-start; /* modalità di "a capo" laterale 
    /* justify-content: space-evenly; /* modalità di "a capo" centrato 
}

.test1 div {
    flex:1;
    max-width: 160px;
    min-width: 160px;
    max-height: 230px;
    min-height: 230px;
    border-radius: 15px;
    background: rgb(241, 182, 72);
    color: black;
    border: 1px black solid;
}

div {
    padding: 10px; /* margine tra bordo e contenuto 
    margin: 10px; /* margine esterno 
    margin-bottom: 10px;
}

.topBanner
{
    display:flex;
    border: 1px black solid;
}

.rowBanner {
    border: 1px rgb(32, 255, 3) solid;
}

.rowBanner li {
    border: 1px rgb(55, 0, 255) solid;
    flex-direction: column;
    list-style: none;
    list-style-type: none; /* rimuove elenco puntato */

/*
.square1 {
}

.square2 {
}

.square3 {
}

.square4 {
}

.square5 {
}
*/
